* {
    box-sizing: border-box;
    margin: 0;
    background-color: antiquewhite;
  }
  header {
    background-color: rgb(248, 245, 245);;
    border-bottom: gray;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    margin: 20px;
  }
  .summary-header {
    background-color: rgb(248, 245, 245);
    border: gray;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .price-header {
    background-color: rgb(248, 245, 245);;
    border: gray;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .course-header {
    background-color: rgb(248, 245, 245);;
    border: gray;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .media-header {
    background-color: rgb(248, 245, 245);
    border: gray;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    margin-top: 20px;
  }
  .media-row {
    display: flex;
    width: 100%;
  }
  .course-lists {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }
  .contacts-header {
    background-color: rgb(248, 245, 245);;
    border: gray;
    border-width: 10px;
    border-style: outset;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }
  .summary-row {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }
  .summary {
    margin: 20px;
    width: 50%;
  }
  .topten {
    margin: 20px;
    width: 25%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .nav-links {
    border: 1px solid white;
    background-color: grey;
    padding: 10px;
    margin: 20px;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
  }
  .nav-links:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 25%;
  }
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-top: 20px;
  }
  
  